* {
    background-color: #84dacd;
    font-family: roboto, sans-serif;
}

Button {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
    text-transform: uppercase;
	padding:15px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}
Button:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}
Button:active {
	position:relative;
	top:1px;
}

#counter {

 padding: 20px;
 font-size: 50px;
}

h1 {
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
    color: transparent;
    background-clip: text;
    font-weight: 900;
}
